version: "3.9"
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ---
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  backend:
    build: ./backend
    environment:
      DB_HOST: mysql
      DB_USER: ---
      DB_PASSWORD: ---
      DB_NAME: ---
    ports:
      - "3001:3001"
    depends_on:
      - mysql
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
volumes:
  mysql_data:
